DATABASE_NAME=mycloset
DATABASE_USER=postgres
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=5432


GOOGLE_CLIENT_ID=900336374359-njitgjiah6liiumfmcf44rsv4abldtbt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=FZGmjZEWpKHwPfQVo97t6w5CpnmF
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect


CLOUDINARY_NAME=Closet
CLOUDINARY_API_KEY=543887537352455
CLOUDINARY_API_SECRET=2V1PuoDqzSo5i81nmL4rpYC4gdk